body {
  font-family: Arial;
  padding: 20px;
}

.board {
  display: flex;
  gap: 20px;
}

.column {
  width: 220px;
  min-height: 250px;
  border: 2px solid #aaa;
  padding: 10px;
}

.card {
  padding: 10px;
  margin: 10px 0;
  background: #eee;
  cursor: grab;
}
